# -*- coding: utf-8 -*-
"""
Created on Tue Feb 28 23:10:16 2023

@author: yong
"""

<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Term Deposit</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="age" placeholder="age" required="required" />
        <input type="text" name="campaign" placeholder="campaign" required="required" />
		<input type="text" name="past_days" placeholder="past_days" required="required" />
        <input type="text" name="num_of_contacts" placeholder="num_of_contacts" required="required" />
        <input type="text" name="consumer_price_index" placeholder="consumer_price_index" required="required" />
		<input type="text" name="consumer_confidence_index" placeholder="consumer_confidence_index" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>